<h1>Maze</h1>

<div class="maze">
  <table>
  </table>
  <input type="button" id="reset" value="Reset Maze" style="float: left" />
  <input type="button" id="findPath" value="Find Path" style="float: right" />
</div>
