// Place all the styles related to the mazes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maze {
  margin: 0 auto;
  width: 660px;
}

table {
  border-collapse: collapse;
}

td {
  height: 30px;
  width: 30px;
  border: 1px solid black;
}
